<style>
    .modal .modal-body {
        max-height: 800px;
        overflow-y: auto;
    }

    .modal-xl {
        width: 85% !important;
    }
</style>
<div class="container">
    <div class="header" style="padding-bottom: 20px;">
        <ul class="nav nav-pills pull-right" role="tablist">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation">
              {{~#link-to 'contacts.index'}}
                Contacts
              {{~/link-to}}
            </li>
        </ul>
        <h3 class="text-muted">Cold Callr</h3>
    </div>


  {{outlet}}


    <div class="footer">
        <p>&copy; RepairShopr 2014</p>
    </div>

</div> <!-- /container -->

