{{outlet}}


<div class="row">
    <div class="12-md-col">
        <ol>
          {{#each contact in model}}
              <li>{{link-to contact.name 'contacts.show' contact}}</li>
          {{/each}}
        </ol>

    </div>
</div>


