<div class="row">
    <div class="col-xs-12">
        <h1>Welcome to Cold Callr!</h1>
        <p>Here you can get access to contacts and notes - and get moving through your list quickly!</p>
        <p>Click Contacts to get rolling..</p>
    </div>
</div>