<a {{action "toggleMore"}} class="pull-right" style="padding-left: 5px;"><i class="fa fa-plus">+</i></a>
{{#if isShowingMore}}
    <br>
    Phone: {{contact.phone}} <br>
    {{contact.properties}}

{{/if}}